
<div class="container">
  <br>
  <br>

<div class="row">
  <div  *ngFor="let auto of autos1;let indice = index;">
    <div class="col-sm-4" *ngIf="auto.nuevousado">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{auto.foto}}" alt="Card image cap">
        <div class="card-block">
          <h4  class="card-title">Auto</h4>

            <p><strong>Marca       :</strong> {{auto.marca}}</p>
            <p><strong>Modelo      :</strong>{{auto.modelo}}</p>
            <p><strong>Año         :</strong>{{auto.anio}}</p>
            <p><strong>Precio      :</strong>{{auto.precio}}</p>

          <button class="btn btn-warning" [routerLink]="['/editarauto',auto.id]" >Editar</button>
          <button  class="btn btn-danger" (click)="eliminarAutoBackend(auto,auto.id);eliminarAutoFrontEnd($event)">Eliminar</button>

        </div>
      </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
</div>
