
<form (ngSubmit)="crearUsuario(UsuarioFormulario)" #UsuarioFormulario="ngForm" nonvalidate>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-form-label">Nuevo Registro:</label>
        <input class="form-control" name="marca"
               placeholder="Ingrese nuevo marca"
               [(ngModel)]="nuevoAuto.marca" type="text">
        <input class="form-control" name="modelo"
               placeholder="Ingrese nuevo modelo"
               [(ngModel)]="nuevoAuto.modelo" type="text">
        <input class="form-control" name="anio"
               placeholder="Ingrese nuevo año"
               [(ngModel)]="nuevoAuto.anio" type="text">
        <input class="form-control" name="precio"
               placeholder="Ingrese nuevo precio"
               [(ngModel)]="nuevoAuto.precio" type="number">
        <input class="form-control" name="foto"
               placeholder="Ingrese una url de foto"
               [(ngModel)]="nuevoAuto.foto" type="text">
        <input class="form-control" name="nuevousado"
               placeholder="Ingrese una url de foto"
               [(ngModel)]="nuevoAuto.nuevousado" type="checkbox">
      </div>

      <button class="btn btn-success" [disabled]="!UsuarioFormulario.valid" type="submit">Crear usuario</button>

    </div>
  </div>
</form>
<div class="container">
  <br>
  <br>

<div class="row">
  <div  *ngFor="let auto of autos1;let indice = index;">
    <div class="col-sm-4" *ngIf="auto.nuevousado">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{auto.foto}}" alt="Card image cap">
        <div class="card-block">
          <h4  class="card-title">Auto</h4>

            <p><strong>Marca       :</strong> {{auto.marca}}</p>
            <p><strong>Modelo      :</strong>{{auto.modelo}}</p>
            <p><strong>Año         :</strong>{{auto.anio}}</p>
            <p><strong>Precio      :</strong>{{auto.precio}}</p>

          <a [routerLink]="['/editarauto',auto.id]" class="btn btn-primary btn-block">Ir a Perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
</div>
