
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Patio Tuerca</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
        <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['autos-usados']">Autos Usados</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['autos-nuevos']">Autos Nuevos</a>
      </li>



    </ul>


  </div>
</nav>

<br>
<br>

<div class="row">

<div class="col-md-4"></div>
  <div class="col-md-4">
    <img class="Foto" src="http://patiotuerca.com/img/latamautos_w.svg" alt="">
  </div>
  <div class="col-md-4">
    <img src="http://www.gifmania.com/Gif-Animados-Objetos/Imagenes-Herramientas/Engranajes/Engranajes-Movimiento-61935.gif" alt="">
  </div>

</div>
<br>
<br>

<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">
  <div class="row">
    <img class="PiePagina" src="" alt="">
    <div class="col-md-4">
      <img src="https://assets.domicilios.com/img/appstore.png" alt="">
    </div>
    <div class="col-md-4">
      <p>PATIO TUERCA © Todos los Derechos Reservados.</p>
      <p>Llámanos al 1700 TUERCA</p>
      <p> ® Derechos Reservados © 2014 Llámanos al
        1700 TUERCA
        Usar este sitio implica aceptar nuestros Términos y Condiciones de Uso. Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular...</p>
    </div>
    <div class="col-md-4">
      <img src="https://www.adomicilioya.com/img/googleplay.jpg" alt="">
    </div>
  </div>
</footer>

<br>

