.carousel {
  background-color: #000000;
  color: #000000;
  height: 500px;
  margin-bottom: 60px;
}
.d-block
{
  width: 100%;
  height:500px;
}

.carousel-control-next-icon{
  padding: 25px;

}
.carousel-control-prev-icon{
  padding: 25px;
  color: red;
}
.container{
  position: relative;
}
.col-form-label-lg{

  color: red;

}
